<!--<h1><b> Bienvenido al Curso</b></h1>
<h3>Bienvenida {{alumno.nombre}} {{alumno.appPaterno}} </h3>
<h3>Estas Aprendiendo AngularJS </h3>

<!--<img [src] = "logoCodeStudy" alt = ""> 
<input type="text" [(ngModel)] = "inputTxtTitulo">
<p>{{inputTxtTitulo}}</p>

<input type="text" [(ngModel)] = "inputTxtTitulo">  -->

<label for=""> Correo
    <input type="text" [(ngModel)] = "Email">
</label>

<label for=""> Password
    <input type="text" (ngModelChange) = "changePassword()" (keydown)="loginIn($event)" [(ngModel)] = "Password">
</label>

<!--<button (dblclick) = "loginIn()">Iniciar</button>

<button (dblclick) = "callDobleClick()">Doble Click</button>-->

<!-- <button (dblclick) = "loginIn()">Iniciar</button> 
    
    dblclick controla el doble click en angularJS.  --> 

<!--<input type = "text" (input) = "escribir($event.target.value)">

<br><br>


<input type = "text" (focus) = "focusText($event)">--> 